<!--************************** Patient Profile Screen *******************************-->
<div data-role="page" id="approval-page" data-title="Patient Profile" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="">
	<pyloc src="approvalPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="approval-page-content">
	  <div id="totalUnused" style="font-weight: bold;">
	  </div>
      <div data-role="collapsible-set" id="approval-list-set"  data-content-theme="d" style="padding-bottom: 15px;" >
      </div>
</div>
</div><!-- Patient Profile -->