<!--************************** Radiology orders Screen *******************************--> 
<div data-role="page" id="rad-page" data-title="Radiology" class="custom-content">
<div class="custom-navbar" data-role="header"  data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
     <h1 id="RadHeader">
      <pyloc src="radiologyPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  <div data-role="content" id="rad-content" >
      <ul data-role="listview"  data-theme="" id="radOrderList">
      </ul>
  </div><!-- content -->
</div><!-- rad-page -->
<!--************************** Lab Results Screen *******************************--> 
<div data-role="page" id="radDetails-page" data-title="Radiology Details" class="custom-content">
<div class="custom-navbar" data-role="header"  data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
     <h1 id="RadDetailsHeader">
      <pyloc src="radiologyPage.headerDetails">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  <div data-role="content" id="rad-details-content" >
     <div  class="rad-detail" id="RadDetails">
      </div>
  </div><!-- content -->
</div><!-- radDetail-page -->