<!--************************** Referral Screen *******************************--> 
<div data-role="page" id="referral-page" data-title="Refer Patient Page" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#patientProfile-page"    data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="referPatientHeader">
      <pyloc src="ReferralPage.header">
    </h1>
<a href="#"   onclick="ReferralController.referToDoctor();" class="customMailBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-sendMail"></a>
  </div>
  <div data-role="content" id="referPatient-content" >
  <label for="clinic-selectList"><pyloc src="ReferralPage.clinicSelect"></label>
    <select name="clinic-selectList" id="clinic-selectList" data-mini="true">
    </select>
  <label for="doctor-selectList"><pyloc src="ReferralPage.doctorSelect"></label>
    <select name="doctor-selectList" id="doctor-selectList" data-mini="true">
    </select>
	<label for="fNameInput"><pyloc src="ReferralPage.ext"></label>
	<div class="searchPatientInput"><input type="tel" pattern="[0-9]*" name="ext" id="extInput" value="" placeholder='<pyloc src="ReferralPage.ext">'></div>
	<fieldset data-role="controlgroup" data-type="horizontal">
        <legend><pyloc src="ReferralPage.priority"></legend>
         <input type="radio" onchange="ReferralController.CalculateReferBeforeDate()" name="priorityChoice" id="priorityChoiceA" value="1">
        <label for="priorityChoiceA"><pyloc src="ReferralPage.vurgent"></label>
		<input type="radio" onchange="ReferralController.CalculateReferBeforeDate()" name="priorityChoice" id="priorityChoiceB" value="2">
        <label for="priorityChoiceB"><pyloc src="ReferralPage.urgent"></label>    
        <input type="radio" onchange="ReferralController.CalculateReferBeforeDate()" name="priorityChoice" id="priorityChoiceC" value="3" checked="checked">
        <label for="priorityChoiceC"><pyloc src="ReferralPage.routine"></label>
    </fieldset>
	<label><pyloc src="ReferralPage.ReplyBefore"><span id="ReferPatientBeforeDate"> </span></label> 
	  <label for="frequency-select"><pyloc src="ReferralPage.frequency"></label>
    <select name="frequency-select" id="frequency-select" data-mini="true">
    </select>
	  <div data-role="fieldcontain">
  <label id="clinicalDetailsLabel" for="detailsTextArea"> <pyloc src="ReferralPage.clinicalDetails"></label>
	<textarea name="detailsTextArea"  style="height: 51px" id="detailsTextArea"></textarea>
	</div>
  </div>
</div><!-- Referral Screen -->
<!--************************** referList  Screen *******************************--> 
<div data-role="page" id="referList-page" data-title="Refer Patient Page" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#home-page"      data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="referListHeader">
    </h1>
	 <a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
 </div>
   <div data-role="content" id="referList-content" >
    <div data-role="collapsibleset" id="refer-list-set"  data-inset="true" data-collapsed-icon="open" data-expanded-icon="close" >
    </div>
     </div>
</div><!-- referList Screen-->