/*************search patient icon***************/
.ui-icon-next:after {
    background-image: url("../img/redPreviousButton.png");
}
/***********prescription************/
.arrow-icon {
background-image: url('../img/blackArrow_ar.png');
}
