/**********radio button*******/
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-on,label.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-off{
font-size: 14px;
text-shadow: none;
}
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-first-child.ui-btn-active.ui-radio-on,label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-active.ui-radio-on{
background-color:rgb(136, 136, 136) !important;
}
/***************remove the default gray background of icons**************************/
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{

background-color: transparent;
}
.ui-alt-icon .ui-btn:after, .ui-alt-icon.ui-btn:after, html .ui-alt-icon .ui-checkbox-off:after, 
html .ui-alt-icon .ui-radio-off:after, html .ui-alt-icon.ui-checkbox-off:after, html .ui-alt-icon.ui-radio-off:after{
background-color: transparent;
}
/***************** Menu Button **********************************/
a#homeMenuBtn {
background-color: transparent;
border: 0;
/* background-color: red; */
height: 20px;
/* width: 35px; */
}
.ui-icon-menu:after {
    background-image: url("../img/menu.png");
    background-size: 100% 100%;
width: 33px;
height: 20px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
border-radius: 0;
}
/**************profile image**********/
a.customProfileBtn.ui-btn.ui-icon-userProfile.ui-btn-icon-right.ui-btn-inline.ui-corner-all.ui-mini {
margin: 0px;
width: 30px;
height: 30px;
padding: 4px;
padding-left: 3px;
padding-right: 3px;
background: transparent;
border: 0px;
box-shadow: none;
float: right;
}
.ui-icon-userProfile:after {
background-image: url("../img/userProfile.png");
background-size: 100% 100%;
width: 30px;
height: 30px;
background-color: transparent;
background-position: center center;
background-repeat: no-repeat;
border-radius: 0;
}
/****************back button*********************/
.ui-icon-back:after {
    background-image: url("../img/backWhiteBtn.png");
    background-size: 100% 100%;
width: 20px;
height: 20px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
border-radius: 0;
}
a.customBackBtn.ui-link.ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all,
a.customBackBtn.ui-link.ui-btn-right.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all,
a.customBackBtn.ui-link.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all,
a.customBackBtn.ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-left.ui-btn-inline.ui-corner-all.ui-mini{
background-color: transparent;
border: 0;
height: 20px;
float:left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 a.customBackBtn.ui-btn-right {
 left: .4em;
right: auto; 
} 
.ui-footer .ui-btn, .ui-header .ui-btn{
/*display:inherit; for progress note two icons in header******/
}
/***************collabsible list sample for vital signs*********************/
.ui-icon-arrowUp:after {
    background-image: url("../img/vitalSigns/arrowBlackUp.png");
    background-size: 100% 100%;
width: 30px;
height: 20px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
}
.ui-icon-arrowDown:after {
    background-image: url("../img/vitalSigns/arrowDownGrey.png");
    background-size: 100% 100%;
width: 30px;
height: 20px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
}
/*************search patient icon***************/
.ui-icon-next:after {
    background-image: url("../img/redNextButton.png");
    background-size: 100% 100%;
}
.ui-icon-previous:after{
background-image: url("../img/redPreviousButton.png");
    background-size: 100% 100%;
}
.ui-icon-search:after {
    background-image: url("../img/magnifer.png");
    /* Make your icon fit */
    background-size: 100% 100%;
}
/***********map*************************/
.ui-icon-call:after {
    background-image: url("../img/call_icon.png");
    background-size: 100% 100%; 
}
.ui-icon-release:after{
background-image: url("../img/cancel_icon.png");
    background-size: 100% 100%;
}
.ui-icon-directions:after {
    background-image: url("../img/directions_icon.png");
    /* Make your icon fit */
    background-size: 100% 100%;
}
/**********progress icons*********/
.ui-icon-open:after {
    background-image: url("../img/open.png");
    background-size: 100% 100%;
width: 25px;
height: 25px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
}

.ui-icon-close:after {
    background-image: url("../img/close.png");
    background-size: 100% 100%;
width: 28px;
height: 28px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
}
.ui-icon-add:after {
   background-image: url("../img/addNew.png");
    background-size: 100% 100%;
width: 25px;
height: 25px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
}
/************home******************/
.ui-icon-home:after {
   background-image: url("../img/home.png");
    background-size: 100% 100%;
width: 40px;
height: 40px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
top: 10px;
}
/***********prescription************/
.arrow-icon {
background-image: url('../img/blackArrow.png');
background-repeat: no-repeat;
background-position: center center;
border: none;
width: 15px;
}
/************table *****************/
.result-list {
    direction: ltr;
    text-align: left;
}
table.tableTheme a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
table.tableTheme a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}
table.tableTheme a:active, table.tableTheme a:hover {
    color: #bd5a35;
    text-decoration: underline;
}
table.tableTheme {
font-family: Arial, Helvetica, sans-serif;
color: #3F3D3D;
font-size: 12px;
background: #FFFFFF;
border-radius: 3px;
width: 100%;
text-align: center !important;
box-shadow: none;
text-shadow: none;
border: 0px;
font-weight: 200;
}
table.tableTheme th {
background:#C74B45;
color: white;
text-shadow: none;
font-weight: 200;
font-size: 14px;
}
table.tableTheme th:first-child { text-align: left }
table.tableTheme tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
table.tableTheme tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
table.tableTheme tr {
    text-align: center;
    padding-left: 5px;
}
table.tableTheme td:first-child {
    text-align: left;
    padding-left: 0px;
    border-left: 0;
}
table.tableTheme td {
	background: rgb(238, 238, 238);
}
table.tableTheme tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.tableTheme tr:last-child td { border-bottom: 0 }
table.tableTheme tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
table.tableTheme tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
table.tableTheme tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
/************theme2 like lab*************************/
table.tableTheme2 {
font-family: Arial, Helvetica, sans-serif;
width: 100%;
font-size:12px;
text-align: center !important;
box-shadow: none;
text-shadow: none;
border: 0px;
font-weight: 200;
white-space: normal;
}
table.tableTheme2 th:first-child {text-align: left;border-left: 0px; }
table.tableTheme2 th {text-align: center;border-left: 1px solid #EE3531; border-bottom:1px solid gray;}
table.tableTheme2 tr {
}
table.tableTheme2 td:first-child {
    border-left: 0;
}
table.tableTheme2 tr:last-child td { border-bottom: 0 }
table.tableTheme2 td{
border-left:1px solid #EE3531;
border-bottom:1px solid gray;
}
 /***************doctor schedule***************/
table#drScheduleTable {
font-size: 14px;
}
table#drScheduleTable td {
padding: 10px;
}
table#drScheduleTable th {
padding: 10px;
}
/*****************search btn theme**************/
button[data-theme="search-btn"].ui-btn-icon-left:after, button[data-theme="search-btn"].ui-btn-icon-right:after,button[data-theme="search-btn"].ui-btn-icon-top:after, button[data-theme="search-btn"].ui-btn-icon-bottom:after, button[data-theme="search-btn"].ui-btn-icon-notext:after{
width: 30px;
height: 30px;
margin: -15px 2px 0 -3px;
} 
button[data-theme="search-btn"].ui-btn.ui-icon-search.ui-btn-icon-right.ui-shadow.ui-corner-all {
border: 0px;
background-color: rgb(156, 156, 156);
text-shadow: none;
color:white;
font-weight: normal;
width: 200px;
margin-left: auto;
margin-right: auto;
}
/*****************custom button*****************/
/***************** custom-button-1 **********************************/
.ui-btn.ui-input-btn.ui-btn-custom-button-1.ui-corner-all.ui-shadow.ui-mini.ui-btn-icon-left,
.ui-btn.ui-input-btn.ui-btn-custom-button-1.ui-corner-all.ui-shadow.ui-mini.ui-btn-icon-right  {
	border-radius: 0.5em;
	background-color: transparent;
	data-corners: false;
	data-shadow: false;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	max-width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-width: 80px;
	background-image: none !important;
	border: 0px;
	background-color: #e23e4b;
	  font-size: 16px;
	 color: white;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/***********reply button****************/
 input[data-theme="custom-button-all"] {
border-radius: 0;
border: none;
data-corners: false;
data-shadow: false;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin-left: auto;
margin-right: auto;
}
 a[data-theme="custom-button-all"] {
border-radius: 0;
border: none;
data-corners: false;
data-shadow: false;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin-left: auto;
margin-right: auto;
}
.ui-btn.ui-input-btn.ui-btn-custom-button-all.ui-corner-all.ui-shadow,
.ui-link.ui-btn-custom-button-all.ui-btn.ui-shadow.ui-corner-all{
	min-width: 80px;
	max-width: 120px;
	margin-left: auto;
	margin-right: auto;
	data-shadow: false;
    border: none;
    font-size: 15px;
    color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    background-color: rgb(194, 80, 80);
}
.ui-icon-reply:after {
    background-image: url("../img/reply.png");
    background-size: 100% 100%;
width: 50px;
height: 50px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
border-radius: 0;
padding:0px;
margin: 0px;
margin-top: -5px;
top: 0px;
}
.ui-icon-sendMail:after {
    background-image: url("../img/mailsend.png");
    background-size: 100% 100%;
width: 50px;
height: 50px;
background-color:transparent;
background-position: center center;
background-repeat: no-repeat;
border-radius: 0;
padding:0px;
margin: 0px;
margin-top: -5px;
top: 0px;
}
a.customMailBtn.ui-btn-right.ui-btn.ui-icon-sendMail.ui-btn-icon-right.ui-btn-inline.ui-corner-all.ui-mini{
height: 20px;
background-color: transparent;
border: 0;
width: 0px;
}