<!--************************** Doctor Schedule Screen *******************************--> 
<div data-role="page" id="drSchedule-page" data-title="Doctor Schedule" class="custom-content">
<div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="scheduleHeader">
      <pyloc src="schedulePage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="drSchedule-content" >
     <div id="doctorSchDiv">
	 </div>
    </div>
</div><!-- Doctor Schedule page -->