<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="msapplication-tap-highlight" content="no"/>
<!--  <link rel="stylesheet"  href="libs/jQM-flat/jquery.mobile.flatui.css"> -->
<link rel="stylesheet" type="text/css" href="libs/jquery.mobile.datepicker.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/themeCSS.css" />
<link rel="stylesheet" type="text/css" href="css/ProgressNoteCSS.css" />
<link rel="stylesheet" type="text/css" href="libs/jquery.growl.css" />
<link rel="stylesheet" type="text/css" href="libs/responsiveGrid/css/component.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/themeHMG.css" />      
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" /> 
<link rel="stylesheet" type="text/css" href="lib/jqm/jquery.zrssfeed.css" />
<link rel="stylesheet" type="text/css" href="lib/jqm/jquery.growl.css" />
<link rel="stylesheet" type="text/css" href="lib/jqm/css/peace.css" />
<link rel="stylesheet" type="text/css" href="lib/jqm/css/default_pickadate.css" />
<link rel="stylesheet" type="text/css" href="lib/jqm/css/default.date.css" />
<link rel="stylesheet" type="text/css" href="lib/jqm/css/idangerous.swiper.css" /> -->



