<!--************************** home Page Screen *******************************-->
<div data-role="page" id="home-page" data-title="Hmg Doctor Home" class="custom-content">
<pyinclude src="pages/navPanel.html">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
  <!--   <a href="#leftCustomPanel" data-theme="menu-button" class="ui-btn-left"></a> -->
  <!--   <a href="#leftCustomPanel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-bars"></a> -->
  <a href="#leftCustomPanel" id="homeMenuBtn" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-menu"></a>
  <h1 id="">
      <pyloc src="homePage.header">
    </h1>
  </div>
  <div data-role="content" id="dashboard-content">
<ul class="cbp-rfgrid" id="dashboard-list">
				<li><a href="#" onclick="DoctorInfoController.getDrSchedule();"><img src="img/dashboard/schedule.png" /></a><div><h4><pyloc src="homePage.schedule"></h4></div></li>
				<li><a href="#" onclick="$.mobile.changePage('#search-patient-page')"><img src="img/dashboard/searchPatient.png" /></a><div><h4><pyloc src="homePage.search"></h4></div></li>
				<li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getMyOutpatients();"><img src="img/dashboard/outpatient.png" /></a><div><h4><pyloc src="homePage.outpatient"></h4></div></li>
<!-- 				<li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getTomorrowPatients();"><img src="img/dashboard/tomPatient.png"/></a><div><h4><pyloc src="homePage.tomorrowpatient"></h4></div></li> -->
				<li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getMyInpatients();"><img src="img/dashboard/inpatient.png"/></a><div><h4><pyloc src="homePage.inpatient"></h4></div></li>
				<li><a href="#" onclick="MyPatientsController.getReferrals();"><img src="img/dashboard/refdPatient.png" /></a><div><h4><pyloc src="homePage.referral"></h4></div></li>
				<li><a href="#" onclick="MyPatientsController.getReferred();"><img src="img/dashboard/refPatient.png" /></a><div><h4><pyloc src="homePage.referred"></h4></div></li>
				<li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getDischargedPatients();"><img src="img/dashboard/dischargePatient.png" /></a><div><h4><pyloc src="homePage.discharged"></h4></div></li>
				<li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getDischargedReferrals();"><img src="img/dashboard/refDischargedPatient.png" /></a><div><h4><pyloc src="homePage.refdischarged"></h4></div></li>
				<!-- <li><a href="#" onclick="App.setBackPage('#searchResultBackBtn','#home-page');MyPatientsController.getDischargedReferred();"><img src="img/dashboard/refDischargedPatient.png" /></a><div><h4><pyloc src="homePage.refrreddischarged"></h4></div></li> -->
				<li><a href="#" onclick="$.mobile.changePage('#searchMedicine-page')"><img src="img/dashboard/checkMedicine.png" /></a><div><h4><pyloc src="homePage.medicine"></h4></div></li>
				<li><a href="#" onclick="DoctorReplyController.getPatientsQuestions();"><img src="img/dashboard/doctorReply.png" /></a><div><h4><pyloc src="homePage.reply"></h4></div></li>
				<li><a href="#" onclick="BloodBankController.getBloodBank();"><img src="img/dashboard/bloodBank.png" /></a><div><h4><pyloc src="homePage.bloodBank"></h4></div></li>
				<li><a href="#" onclick="HomeController.scanQr();"><img src="img/dashboard/qr.png"/></a><div><h4><pyloc src="navPanel.scan"></h4></div></li>
			</ul>
	<!-- <input id="GetDoctOutPatientBtn" type="button" value="GetOutPatient" onclick=" $.mobile.changePage('#search-patient-page')"> -->
  </div>
</div><!-- home -->