<!--************************** Lab Appointments Screen *******************************--> 
<div data-role="page" id="LabAppo-page" data-title="Lab Appointments" class="custom-content">
<div class="custom-navbar" data-role="header"  data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1>
      <pyloc src="LabResultsPage.header">
    </h1>
<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  <div data-role="content" id="lab-appo-content" >
      <ul data-role="listview"  data-theme="" id="labAppoList">
      </ul>
  </div><!-- content -->
</div><!-- labAppo-page -->
<!--************************** Lab Results Screen *******************************--> 
<div data-role="page" id="LabResults-page" data-title="Lab Results" class="custom-content">
<div class="custom-navbar" data-role="header"  data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a> 
    <h1>
      <pyloc src="LabResultsPage.detailsHeader">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  <div data-role="content" id="lab-Result-content" >
      <div data-role="collapsible-set" id="lab-list-set"  data-content-theme="d" data-collapsed-icon="open" data-expanded-icon="close" >
      </div>
  </div><!-- content -->
  <div id="ReportData" style="display:none;" ></div>
</div><!-- LabResults-page -->