<!--************************** Progress Notes Screen *******************************-->
<div data-role="page" id="progress-notes-page" data-title="Progress Notes" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#patientProfile-page"  class="customBackBtn ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back"></a>
    <h1 id="prog-Header">

    </h1>
	 <a href="#" id="addNewProgNoteBtn"  onclick="$.mobile.changePage('#new-progress-notes-page');" class="customAddBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-add"></a>
  </div>
  <div data-role="content" id="progressNote-content">
<!--   <input id="addNewProgressNote" type="button" value="add new note" onclick="$.mobile.changePage('#new-progress-notes-page');"> -->
  
  <div data-role="collapsibleset" data-filter="true"  data-inset="true" id="collapsiblesetForNotes" data-collapsed-icon="open" data-expanded-icon="close" >
  </div>

  </div>
</div><!-- Progress Notes -->
<!--************************** add progress note Screen *******************************-->
<div data-role="page" id="new-progress-notes-page" data-title="New Progress Notes" class="">
<div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="newProgressHeader">
 
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="NewProgressNote-content">

<!-- <select name="noteType" id="noteType" data-mini="true">
        <option>Choose Note Type</option>
        <option value="1">Notes</option>
        <option value="3">Order</option>
		<option value="5">Consultation</option>
</select> -->


<table id="addnewprognote-table" cellpadding="0" cellspacing="0">
    <tr class="BottomRowBorder">
	<th></th>
      <th><img src="img/addprogressnote/paperRings.png" height="40" width="40"/></th>
      <th><input id="submitProgNote" type="image" src="img/addprogressnote/save.png" height="40" width="40" data-inline="true" onclick=""/>
	      <input id="cancelProgNote" type="image" src="img/addprogressnote/cancel.png" height="40" width="40"  data-inline="true" onclick=""/>
		  <input id="verifyProgNote" type="image" src="img/addprogressnote/verify.png" height="40" width="40"  data-inline="true" onclick="" disabled/>
		  </th>
      <th><img src="img/addprogressnote/paperRings.png" height="40" width="40"/></th>
    </tr>
	<tr>
	  <td></td>
      <td colspan="4"><textarea rows="20" name="textarea" id="progNotes"></textarea><td>
    </tr>
</table>

  </div>
</div><!-- new Progress Notes -->
