<!--************************** drProfile Screen *******************************--> 
<div data-role="page" id="drProfile-page" data-title="Doctor Profile" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="drProfileHeader">
      <pyloc src="drProfile.header">
    </h1>
<a href="#" onClick="App.setUserSignOut();" data-iconpos="right" class="ui-link ui-btn-right ui-btn ui-shadow ui-corner-all"><pyloc src="drProfile.logout"></a>
  </div>
  <div data-role="content" id="drProfile-content" >
        <div class="dr-profile-div">
          <table  style="">
            <tbody>
              <tr style="border-bottom:2px solid red;">
                <td colspan="3" style="text-align: center; background-color:rgba(235,235,235,0.7);">
				<div style="margin-left: 20%; margin-right: 20%;" >
                  <div id="drProfileDisplayImg" class="drProfDetails"></div>
				  <div id="drProfileName" class="drProfName" style="font-weight: 900;"></div>
                  <div id="drProfileNat"  class="drProfDetails"></div>
				</div>
				  </td>
				  </tr>
				<tr>
                <td colspan="2" style="border-bottom: 1px solid #DBDBDB;">
                  <div  id="drProfileGender" class="drProfDetails"></div>
				  </td>
				  </tr>
			
				<tr>
                <td colspan="2" style="border-bottom: 1px solid #DBDBDB;">
                  <div id="drProfileDept" class="drProfDetails" style="text-transform:capitalize !important;" ></div>
				  </td>
				  </tr>
				<tr>
                <td colspan="2" style="border-bottom: 1px solid #DBDBDB;">
                  <div id="drProfileProj" class="drProfDetails"></div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div id="drProfileDesc" class="drProfDetails"></div>
                  <BR>
                  <div id="drProfileProf" class="drProfDetails"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div><!-- drProfile-page -->