<!--************************** patient question Screen *******************************--> 
<div data-role="page" id="patientQuestions-page" data-title="Doctor Profile" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#home-page"   data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="patientQuestionsHeader">
      <pyloc src="drReply.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="patientQuestions-content" >
    <div data-role="collapsibleset" id="patQues-list-set"  data-inset="true" data-collapsed-icon="open" data-expanded-icon="close" >
    </div>

  </div>
</div><!-- patient question Screen -->
<!--************************** Doctor Reply Screen *******************************--> 
<div data-role="page" id="doctorReply-page" data-title="Doctor Profile" class="">
 <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="doctorReplyHeader">
      <pyloc src="drReply.replyh">
    </h1>
	<a href="#"   onclick="DoctorReplyController.replyToRequest();" class="customMailBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-sendMail"></a>
  </div>
  <div data-role="content" id="doctorReply-content" >
  <label id="requestLabel"></label>
  <div data-role="fieldcontain">
  <label id="responseLabel" for="replyTextArea"> <pyloc src="drReply.response"></label>
	<textarea name="replyTextArea"  style="height: 51px" id="replyTextArea"></textarea>
	</div>
  </div>
</div><!-- Doctor Reply Screen -->