<!--************************** search Page Screen *******************************-->
<div data-role="page" id="search-patient-page" data-title="Search Patient" class="custom-content">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#home-page"  data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="searchPatientsHeader">
      <pyloc src="searchPatientPage.header">
    </h1>
	 <a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="search-patient-content">
    <label for="patient-type"><pyloc src="searchPatientPage.type"></label>
    <select name="patient-type" id="patient-type" data-mini="true">
        <option value="1"><pyloc src="searchPatientPage.patientType1"></option>
        <option value="2"><pyloc src="searchPatientPage.patientType2"></option>
		<option value="3"><pyloc src="searchPatientPage.patientType3"></option>
        <option value="4"><pyloc src="searchPatientPage.patientType4"></option>
        <option value="5"><pyloc src="searchPatientPage.patientType5"></option>
		<option value="6"><pyloc src="searchPatientPage.patientType6"></option>
	<!-- 	<option value="7"><pyloc src="searchPatientPage.patientType7"></option> -->
		<option value="8"><pyloc src="searchPatientPage.patientType8"></option>
    </select>
	<div class="hideElements">
<label for="fNameInput"><pyloc src="searchPatientPage.fname"></label>
<div class="searchPatientInput"><input type="text"  name="fNameInput" id="fNameInput" value="" placeholder='<pyloc src="searchPatientPage.name1">'></div>
<label for="mNameInput"><pyloc src="searchPatientPage.mname"></label>
<div class="searchPatientInput"><input type="text" name="mNameInput" id="mNameInput" value="" placeholder='<pyloc src="searchPatientPage.name2">'></div>
<label for="lNameInput"><pyloc src="searchPatientPage.lname"></label>
<div class="searchPatientInput"><input type="text" name="lNameInput" id="lNameInput" value="" placeholder='<pyloc src="searchPatientPage.name3">'></div>
<label for="mNumberInput"><pyloc src="searchPatientPage.mnumber"></label>
<div class="searchPatientInput"><input  placeholder="05xxxxxxxx" type="tel" name="mNumberInput" id="mNumberInput" value=""></div>
<table style="width: 100%;">
<tbody>
<tr>
<td><label for="patientIDNInput"><pyloc src="searchPatientPage.pID"></label></td>
<td><label for="PatientIDInput"><pyloc src="searchPatientPage.pFile"></label></td>
</tr>
<tr>
<td><div class="searchPatientInput"><input type="text" name="patientIDNInput" id="patientIDNInput" value="" placeholder="012xxxxxxx"></div></td>
<td><div class="searchPatientInput"><input type="text" name="PatientIDInput" id="PatientIDInput" value="" placeholder="012xxxx"></div></td>
</tr>
<tr class="dateTr">
<td><label for="fDateInput"><pyloc src="searchPatientPage.from"></label><div class="searchPatientInput"><input type="text" id="fDateInput" data-inline="false" data-role="date" placeholder='<pyloc src="searchPatientPage.dateFormat">'  > </div></td>
<td><label for="fDateInput"><pyloc src="searchPatientPage.to"></label><div class="searchPatientInput"><input type="text" id="tDateInput" data-inline="false" data-role="date" placeholder='<pyloc src="searchPatientPage.dateFormat">'  > </div></td>
</tr>
<tr class="dateTr">
<td></td>
<td></td>
</tr>
</tbody>
</table>
  <label class="customRedCheckBox">
<input type="checkbox" id="onlyArrivedPt" name="checkbox-0 "><pyloc src="searchPatientPage.arrivedPatient">
 </label>
</div>
 <label for="patient-loc"><pyloc src="searchPatientPage.pLocation"></label>
<select name="patient-loc" id="patient-loc" data-mini="true">
        <option value="false"><pyloc src="searchPatientPage.pLocation1"></option>
        <option value="true"><pyloc src="searchPatientPage.pLocation2"></option>
</select>

<button id="searchPatientBtn" data-theme="search-btn" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search"><pyloc src="searchPatientPage.search"></button>
  </div>
 
</div><!-- search patients -->
<!--************************** MyPatients Page Screen *******************************-->
<div data-role="page" id="my-patients-page" data-title="Search Patient" class="custom-content">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#search-patient-page"  id="searchResultBackBtn" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="searchPatientsHeader">
      <pyloc src="searchPatientPage.results">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="search-patient-content">
  <div id="search-patientRadio">
  <fieldset data-role="controlgroup" data-type="horizontal">
  <input type="radio" onchange="MyPatientsController.getMyOutpatients()" name="period-radio-outpatient" id="out-radio-choice-h-2a" value="d">
	  <label for="out-radio-choice-h-2a"> <pyloc src="searchPatientPage.OutPatienPeriodChoice1"></label>
	  <input type="radio" onchange="MyPatientsController.getMyOutpatients()" name="period-radio-outpatient" id="out-radio-choice-h-2b" value="t">
	  <label for="out-radio-choice-h-2b"> <pyloc src="searchPatientPage.OutPatienPeriodChoice2"></label>
	 <input type="radio" onchange="MyPatientsController.getMyOutpatients()" name="period-radio-outpatient" id="out-radio-choice-h-2c" value="w" checked="checked" >
	 <label for="out-radio-choice-h-2c"> <pyloc src="searchPatientPage.OutPatienPeriodChoice3"></label>
	 <!-- <input type="radio"  onchange="MyPatientsController.getMyOutpatients()" name="period-radio-outpatient" id="out-radio-choice-h-2d" value="m" checked="checked" >
	 <label for="out-radio-choice-h-2d"> <pyloc src="searchPatientPage.OutPatienPeriodChoice4"></label> -->
	 </fieldset>
	 </div>
  <ul data-role="listview" data-inset="true"  data-filter="true" data-filter-placeholder='<pyloc src="searchPatientPage.findPatient">' data-filter-theme="a" id="searchPatientsList">
</ul>
  </div>
 
</div><!-- search patients -->