<div data-role="panel" id="leftCustomPanel" >

	<div class="sidebar-header-left">
	<img src="img/leftPanelIcons/hmgLogo.png" class="sidebar-right-logo" alt="img">
<!-- 	<input type="search" name="search" id="search-panel" value="" placeholder="Search"/> -->
	<div style="margin-top: 20px;" onClick="$.mobile.changePage('#drProfile-page');"><img class="drImage" id="doctorPhoto" src="img/leftPanelIcons/aboutApp.png"><a class="doctorNameSidePanel" id="doctorNameLink" href="#">Doctor Name</a><img  class="arrowLeftProfile" id="DoctorNameArrow" /></div>
 <ul data-role="listview"  class="ui-alt-icon" id="left-panel-list">
                    <li><a href="#"  onclick="DoctorInfoController.getDrSchedule();"><img src="img/leftPanelIcons/mySchedule.png" alt="My Schedule" class="ui-panel-icon"> <pyloc src="navPanel.schedule"></a></li>
                   <!--  <li><a href="#"><img src="img/leftPanelIcons/aboutApp.png" alt="About" class="ui-panel-icon" >About App</a></li> -->
                    <li><a href="#" onClick="$.mobile.changePage('#settings-page');"><img src="img/leftPanelIcons/settings.png" alt="Settings" class="ui-panel-icon" ><pyloc src="navPanel.settings"></a></li>
					<li><a href="#" onClick="HomeController.scanQr();"><img src="img/leftPanelIcons/camera.png" alt="Scan" class="ui-panel-icon" ><pyloc src="navPanel.scan"></a></li>
					<li><a href="#" onClick="App.setUserSignOut();"><img src="img/leftPanelIcons/logout.png" alt="Logout" class="ui-panel-icon" ><pyloc src="navPanel.logout"></a></li>
                  <!--   <li><a href="#"><img src="img/leftPanelIcons/share.png" alt="Share" class="ui-panel-icon">Share</a></li> -->
                </ul>
</div>
</div><!-- /panel -->