
<pyinclude src="pages/home.html">
<pyinclude src="pages/settings.html">
<pyinclude src="pages/mypatients.html">
<pyinclude src="pages/progressNote.html">
<pyinclude src="pages/patientProfile.html">
<pyinclude src="pages/prescription.html">
<pyinclude src="pages/vitalSigns.html">
<pyinclude src="pages/doctorInfo.html">
<pyinclude src="pages/lab.html">
<pyinclude src="pages/searchMedicine.html">
<pyinclude src="pages/map.html">
<pyinclude src="pages/login.html">
<pyinclude src="pages/radiology.html">
<pyinclude src="pages/doctorProfile.html">
<pyinclude src="pages/doctorReply.html">
<pyinclude src="pages/approval.html">
<pyinclude src="pages/ReferralPage.html">
<pyinclude src="pages/bloodBank.html">
<pyinclude src="pages/noNetwork.html">