<!--************************** prescription-appo-page *******************************--> 
<div data-role="page" id="prescription-page" data-title="Patient's Prescription" class="custom-content">
  <div class="custom-navbar" data-role="header"  data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>  
    <h1>
      <pyloc src="presPage.header">
    </h1>
<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  
  <div data-role="content" id="pres-content" >

      <ul data-role="listview"  id="presList">
      </ul>

  </div><!-- content -->
</div><!-- prescription-appo-page -->
<!--************************** prescription page *******************************--> 
<div data-role="page" id="prescriptionDetails-page" data-title="Prescription" class="custom-content">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a> 
    <h1>
      <pyloc src="presPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div><!-- header -->
  <div data-role="content" id="pres-details-content" >
      <div data-role="collapsibleset" id="prescription-list-set"  data-inset="true" data-collapsed-icon="open" data-expanded-icon="close" >
      </div>
  </div> <!-- content -->
</div><!-- prescription-page -->

