<!--************************** Settings Screen *******************************--> 
<div data-role="page" id="settings-page">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1>
      <pyloc src="settingsPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="settings-content" >
    <div class="landing-navigation-wrapper" >
      <fieldset data-role="controlgroup" id="changeLang">
        <legend>
          <pyloc src="settingsPage.language">
        </legend>
        <input type="radio" name="choice-lang" id="choice-lang-ar" value="ar">
        <label for="choice-lang-ar">
          <pyloc src="settingsPage.ar">
        </label>
        <input type="radio" name="choice-lang" id="choice-lang-en" value="en">
        <label for="choice-lang-en">
          <pyloc src="settingsPage.en">
        </label>
      </fieldset>
    </div>
  </div>
</div><!-- settings-page -->