<!--************************** Vital Signs Screen *******************************-->
<div data-role="page" id="vitalSigns-page" data-title="Vital Signs" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="">
   <pyloc src="vitalSignsPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="vitalSigns-content">
 <ul data-role="listview" data-inset="true" id="vitalSingsList" class="CustomList">
	</ul>
  </div>
</div><!-- Vital Signs -->
<!--************************** Vital Signs Details Screen *******************************-->
<div data-role="page" id="vitalSignsDetails-page" data-title="Vital Signs" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="">
   <pyloc src="vitalSignsPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="vitalSignsDetails-content">
<div data-role="collapsible-set" data-inset="true"  data-iconpos="right" id="collapsibleVitalSigns" data-collapsed-icon="arrowDown" data-expanded-icon="arrowUp">
 
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/weight.png" /><pyloc src="vitalSignsPage.BDM"></h3>
    <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="generalMesurmentList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.weight"><span id="weightVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.height"><span id="heightVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.bmi"><span id="bmiVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.HeadCircumCm"><span id="HeadCircumVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.IBWLbs"><span id="IBWLbsVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.LBWLbs"><span id="LBWLbsVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.gcs"><span id="gcsVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.triageCatg"><span id="triageCatgVal"></span></li>
	</ul>
  </div>
 
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/temperature.png" /><pyloc src="vitalSignsPage.temperature"></h3>
        <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="temperatureList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.temperatureC"><span id="temperatureCVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.temperatureMethod"><span id="temperatureMethodVal"></span></li>
	</ul>
  </div>
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/pulse.png" /><pyloc src="vitalSignsPage.pulse"></h3>
        <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="pulseList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.pulseMsr"><span id="pulseMsrVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.rhythm"><span id="rhythmVal"></span></li>
	</ul>
  </div>
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/respiration.png" /><pyloc src="vitalSignsPage.respiration"></h3>
     <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="respirationList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.resp"><span id="respVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.pattern"><span id="patternVal"></span></li>
	</ul>
  </div>
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/bloodPressure.png" /><pyloc src="vitalSignsPage.bloodPressure"></h3>
      <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="bloodPressureList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.bdPressureLower"><span id="bdPressureLowerVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.bdPressureHigher"><span id="bdPressureHigherVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.patientPos"><span id="patientPosVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.cuffLoc"><span id="cuffLocVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.cuffSize"><span id="cuffSizeVal"></span></li>
	</ul>
  </div>
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/oxg.png" /><pyloc src="vitalSignsPage.Oxyg"></h3>
     <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="oxygList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.oxso"><span id="oxsoVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.oxfi"><span id="oxfiVal"></span></li>
	</ul>
  </div>
  <div data-role="collapsible" class="customVSCollapsible" >
    <h3 class="vtCustomHeader"><img class="vtCustHeaderIcon" src="img/vitalSigns/painScale.png" /><pyloc src="vitalSignsPage.painSc"></h3>
     <ul data-role="listview" data-inset="true" class="vitalSignDetailsList" id="painScaleList">
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.painScale"><span id="painScaleVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.PainLoc"><span id="PainLocVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.PainCh"><span id="PainChVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.painDur"><span id="painDurVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.painAssm"><span id="painAssmVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.painfrq"><span id="painfrqVal"></span></li>
	<li class="VitalSignsText"><pyloc src="vitalSignsPage.PainScoreDesc"><span id="PainScoreDescVal"></span></li>
	</ul>
  </div>
</div>
  </div>
</div><!-- Vital Signs Details-->