* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	 -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#FFFFFF;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
}
table {
width: 100%;
}

td {
white-space: normal;/*to make the text wrapped*/
}
.ui-collapsible-content.ui-body-inherit{
padding:2px;
}
/**********change default input background ******/
.ui-input-text input{
background:white;
}
body#mainBody {
/* margin-bottom: 0px;
margin-top: 0px; */
}
.ui-focus, .ui-btn:focus{
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}
/*********** change the default blue color of jquery mobile to gray*************************/
.ui-btn-active {
    background: none;
    background-color: #d6d6d6 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #d6d6d6  !important;
	border: 1px solid       #1abc9c /*{global-active-border}*/;
    background:             #1abc9c /*{global-active-background-color}*/;
    font-weight: 700 ;
    color:                  #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif;
}
/**************** title of the header****************/
.ui-header .ui-title{

/* margin: .0em 30% .8em;
margin: .0em 30% .8em; */
text-shadow: none;
color: #d6d6d6;
font-weight: 700;
/* left: 20px;
right: 20px;
margin-left: auto;
margin-right: auto; */
margin-left: 30px; 
margin-right: 40px; 
}

/*****************header*****************/
div.custom-navbar.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
height: 44px;
background: #333233;
overflow-y: hidden;
padding-top: 0px;
border: 0px;
}
/***********nav panel*******/
.sidebar-right-logo{
width: 230px;
/* margin-top: 20px; */
padding-bottom: 10px;
	/* position:absolute;
	top:18px;
	left:17%; */
}
/************panel search bar*************/
/* div.ui-input-search.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-clear {
border-radius: 20px;
background-color: #d6d6d6;
box-shadow: none;
border: 0px;
}
input#search-panel {
text-shadow: none;
} */
/********left panel doctor image*****/
img.drImage {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 60px;
height: 70px;
}
a.doctorNameSidePanel.ui-link {
text-decoration: none;
color: black;
font-weight: normal;
margin-left: 20px;
position: absolute;
margin-top: 20px;
}
/********left panel list********************/
#left-panel-list >li>a.ui-btn{
background-color:transparent;
font-weight: 300;
text-shadow: none;
}
#left-panel-list >li>a.ui-btn:hover{
background-color: #d6d6d6;
}
 #left-panel-list >li.ui-li-has-thumb {
height:54px; 
}  
 #left-panel-list >li.ui-li-has-thumb.ui-last-child{
 height:55px; 
 }
ul#left-panel-list {
padding-top: 20px;
}
img.ui-panel-icon {
width: 30px;
height: 30px;
margin-top: 15px;
/* padding-top: 11px;
padding-bottom: 11px; */
}

ul#left-panel-list >.ui-li-has-thumb>.ui-btn{
height: 53px;
padding: 0px;
padding-left: 40px;
min-height: 0px;
line-height: 3;
}
img#DoctorNameArrow {
position: absolute;
left: auto;
right: 4px;
width: 30px;
height: 30px;
margin-top: 20px;
}
/************dashboard**************************/
h4 {
text-align: center;
color:#ed1b2c;
font-size:14px;
}
#dashboard-list {
margin-top:0px;
}
div#dashboard-content {
padding-top:5px;
padding-bottom:0px;
}
div#leftCustomPanel {
background-color: #F1F1F1;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
background-color: white;
}
/****************Search Patient**************************/
.searchPatientInput>div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
border-radius: 0px;
border-color:#7C7C7C;
border-width: 1px ;
box-shadow: none ;
/* box-shadow: none !important; */
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
div.searchPatientInput {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
div#patient-type-button {
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color:#ed1b2c;
background: white;
}
div#patient-type-button.ui-btn-icon-left:after, div#patient-type-button.ui-btn-icon-right:after, div#patient-type-button.ui-btn-icon-top:after, div#patient-type-button.ui-btn-icon-bottom:after, div#patient-type-button.ui-btn-icon-notext:after{
/* background-color:transparent; */
width:40px;
height:35px;
top:32%;
}
div#patient-type-button.ui-icon-carat-d:after{
background-image: url(../img/dropDownArrow.png);
background-size:100% 100%;
}
div#patient-loc-button {
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color:#ed1b2c;
background: white;
}
div#patient-loc-button.ui-btn-icon-left:after, div#patient-loc-button.ui-btn-icon-right:after, div#patient-loc-button.ui-btn-icon-top:after, div#patient-loc-button.ui-btn-icon-bottom:after, div#patient-loc-button.ui-btn-icon-notext:after{
/* background-color:transparent; */
width:40px;
height:35px;
top:32%;
}
div#patient-loc-button.ui-icon-carat-d:after{
background-image: url(../img/dropDownArrow.png);
background-size:100% 100%;
}
label.customRedCheckBox.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-off{
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color:#7C7C7C;
background: white;
}
label.customRedCheckBox.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-checkbox-on{
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color:#7C7C7C;
background: white;
}
label.customRedCheckBox.ui-icon-check:after,   label.customRedCheckBox.ui-btn.ui-checkbox-on.ui-checkbox-on:after{
background-image: url(../img/checkOnlyPatients.png);
background-color: transparent;
background-size: 100% 100%;
}
label.customRedCheckBox.ui-btn.ui-checkbox-off:after, label.customRedCheckBox.ui-btn.ui-checkbox-on:after, label.customRedCheckBox.ui-btn.ui-radio-off:after, label.customRedCheckBox.ui-btn.ui-radio-on:after{
width: 30px;
height: 30px;
margin: -15px 2px 0 -3px;
background-color: rgb(187, 187, 187);
border-right: 1px solid red;
border-radius:0px;
}
/**********increase the z-index of the date picker to be on top of the checkbox******/
.ui-datepicker{ z-index: 3 !important;}

/**************patient list*******************/
ul#searchPatientsList> li >a.ui-btn.ui-btn-icon-right.ui-icon-next ,ul#searchPatientsList> li >a.ui-btn.ui-btn-icon-left.ui-icon-previous {
background: transparent;
border: 0;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-bottom: 2px solid;
border-radius: 0px;
}
ul#searchPatientsList> li.ui-first-child{
border-top: 2px solid;
border-radius: 0px;
/* box-shadow: none; */
}
ul#searchPatientsList {
/* -webkit-box-shadow: 0 0 0 0;
box-shadow: 0 0 0 0; */
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
}
/**********rawan patient profile*********/
.doctorProfileIcons{
margin: 0px;
 padding:0px;
 width: 20px;
 padding-right: 10px;
 vertical-align: middle;
 float:left;
}
a.ui-link.ui-btn-right.ui-btn.ui-shadow.ui-corner-all{
background: none;
color: white;
text-shadow: none;
border: 0px;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
width: 44px;
}
table.profileIconegGroup{
width: 100%;
text-align: center;
border-top: 1px solid rgb(213, 213, 213);
border-bottom: 1px solid rgb(213, 213, 213);
}
.profileIconegGroup > tbody > tr > td{
border-right: 1px solid rgb(213, 213, 213);
}
.profileIconegGroup > tbody > tr > td:nth-child(4){
border-right: 0px;
}
.patientInfoCell{
text-align: left;
}
.PersonalInfoIcon{
text-align: right;
}
.personalInfoTableCell{
border-right:1px solid rgb(213, 213, 213); 
}
.PatientProfileIconText{
font-size: 12px;
}
/**********rawan progress note*********/
div#collapsiblesetForNotes {
border-radius: 0px;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left,a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right{
background-color: white;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-open {
margin-bottom: 5px;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
border-left-width: 1px;
border-right-width: 1px;
margin-bottom: 5px;
}
table#progressNoteTableTheme {
border: 1px solid #4a4948;
border-radius: 5px;
width: 100%;
background-color: #f2f2f0;
padding-left: 5px;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-close {
border-bottom: 0px;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
border-left-width: 1px;
border-right-width: 1px;
margin-bottom: 5px;
border-color: #dbdbdb;
}

div.ui-collapsible-content.ui-body-inherit {
padding-left: 0px;
margin-left: 0px;
}
.customListNote{
margin-left: -30px;
margin-right: 10px;
margin-top: -15px;
margin-bottom: -15px;
padding-left: 5px;
 background-color: #f2f2f0;
}
.customListNoteDiv{
border-left: 4px double #EE3531;
 padding-left: 5px;
 background-color: #f2f2f0;
 font-size: 12px;
}
a.customAddBtn.ui-btn-right.ui-btn.ui-icon-add.ui-btn-icon-right.ui-btn-inline.ui-corner-all.ui-mini{
height: 20px;
background-color: transparent;
border: 0;
}
a.customHomeBtn.ui-btn-right.ui-btn.ui-icon-home.ui-btn-icon-right.ui-btn-inline.ui-corner-all.ui-mini{
height: 20px;
background-color: transparent;
border: 0;
width: 0px;
}
/**************vital signs**********************/
div#vitalSigns-content {
padding: 0px;
}
div#collapsibleVitalSigns {
border-radius: 0px;
/* border-left: 2px solid rgb(237, 27, 44); */
margin: 0px;
}

img.vtCustHeaderIcon {
width: 30px;
height: 30px;
padding-right: 4px;
}
.vtCustomHeader> a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-arrowDown{
background-color: white;
/* border-left: 4px solid gray; */
}
.vtCustomHeader> a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-arrowUp{
background-color: white !important;
text-shadow:none;
color: black;
border-left: 4px solid #ed1b2c;
-webkit-box-shadow: 0px 2px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 12px 0px rgba(50, 50, 50, 0.75);
}
.vtCustomHeader> .ui-btn-active {
color:black !important;
background-color: white !important;
text-shadow:none !important;
}
ul.vitalSignDetailsList  {
padding: 5px;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}
ul.vitalSignDetailsList >li.ui-li-static.ui-body-inherit{
border: 0px;
border-bottom: 1px solid;
border-left: 3px solid #ed1b2c;
border-radius: 0px;
margin-bottom: 2px;
}
div.customVSCollapsible > div.ui-collapsible-content.ui-body-inherit{
margin:0px;
padding:0px;
}
ul.CustomList  {
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;

}
ul.CustomList> li >a.ui-btn.ui-btn-icon-right.ui-icon-next, ul.CustomList> li >a.ui-btn.ui-btn-icon-left.ui-icon-previous{
background: transparent;
border: 0;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-bottom: 2px solid;
border-radius: 0px;
}
ul.CustomList> li.ui-first-child{
border-top: 2px solid;
border-radius: 0px;
/* box-shadow: none; */
}
.VitalSignsText{
font-weight: 700;
font-size: 14px;
}
/*******************rawan prescription*****************/
div#prescription-list-set {
border-radius: 0px;
}
div#noteType {
border-radius: 0px;
box-shadow: none;
border-color: black;
background-color: white;
}
.redColorForText{
color:#F85361;
}
.prescription-list > li > table > tbody > tr > td{
border-bottom: 1px solid #e4e2e3;
white-space: normal;
}
.prescription-list> li > table > tbody > tr:last-child>td{
 border-bottom: 0px !important;
}
a.inpatientPresList.ui-btn.ui-btn-icon-left.ui-icon-next,
a.inpatientPresList.ui-btn.ui-btn-icon-right.ui-icon-next {
white-space: normal;
}
/* #presAppoList>li.ui-li-static.ui-body-inherit {
padding: 0px;
} */
.appoDrName{
font-weight: 700;
}
.presAppoDetails{
font-size:12px;
}
.presSmallImage{
position: relative;
top: 10px;
}
/******************lab*************/
ul#labAppoList>li.ui-li-static.ui-body-inherit ,ul#presAppoList>li.ui-li-static.ui-body-inherit{
padding: 2px;
}
ul#LabSP-Result-list {
margin-left: 0px;
}
div#lab-list-set {
direction: ltr !important;
}
/*****************search medicine********/
/*******medicine list*******************/
ul#medicinesList> li >a.ui-btn.ui-btn-icon-right.ui-icon-next ,ul#medicinesList> li >a.ui-btn.ui-btn-icon-left.ui-icon-previous {
background: transparent;
/* border: 0; */
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
/* border-bottom: 2px solid;  */
border-radius: 0px; 
}
ul#medicinesList> li.ui-first-child{
/* border-top: 2px solid;
border-radius: 0px; */
}
ul#medicinesList {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
}
/*******medicine location list*******************/
ul#medicineLocationList> li >a.ui-btn.ui-btn-icon-right.ui-icon-next ,ul#medicineLocationList> li >a.ui-btn.ui-btn-icon-left.ui-icon-previous {
background: transparent;
/* border: 0; */
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
/* border-bottom: 2px solid;  */
border-radius: 0px; 
}
ul#medicineLocationList> li.ui-first-child{
/* border-top: 2px solid;
border-radius: 0px; */
}
ul#medicineLocationList {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
}
/*******************location************/
#mapCanvas {
position: absolute;
top: 100px;
bottom: 70px;
left: 10px;
right: 10px;
/* border: 4px solid black; */
border: 2px solid gray;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    min-height: 66px;
}
div#dirDetails {
text-transform: uppercase;
font-size: 16px;
color: #92111B;
text-align: center;
}
/*************************radiology***************************/
.rad-detail {
background: white;
padding: 10px;
border: solid 1px rgb(170, 51, 51);
text-align: center;
direction: ltr;
}
/********doctor profile*************/
.drProfDetails {
    font-size: 15px;
    color: gray;
    margin: 5px;
    font-weight: 100;
}
.drProfName {
    font-size: 14px;
    font-weight: 100;
    margin: 5px 3px;
    font-weight: 100;
}
.dr-profile-img {
    background-size : 100% 100%;
    background-position: center;
    max-width: 200px;
}
.nat-div {
    width: 50px;
    margin: auto 5px;
    right: 15px;
    position: absolute;
    top: 25%;
    text-align: center;
}
.nat-flag { height: 20px; float: left;}
.dr-profile-div {
    border: 2px solid #BEBDBD;
    border-left: 0px;
    border-right: 0px;
 /*    border-top: 0px; */
    background: white;
    padding : 5px;
    overflow-wrap: break-word;
}
.dr-profile-div>table {
    border-collapse: collapse;
    border-spacing: 0;
}
.dr-profile-div>table>tbody>tr, .dr-profile-div>table>tbody>tr>td { vertical-align: top; }
#drProfile-content {
    padding : 5px;
    padding-top: 15px;
}
.nat-name {
display: block;
float: left;
margin-top: 2px;
font-size:11px;
word-wrap: break-word;
word-break: break-word;
padding-left: 2px;
}
/****************doctor reply*************/
.question-list {
padding-left: 10px;
padding-right: 2px;
}
.question-list > li > table > tbody > tr > td{
border-bottom: 1px solid #e4e2e3;
white-space: normal;
}
label#responseLabel {
color: red;
}
label#requestLabel {
text-align: center;
font-weight: bold;
}
/********************approval**************************/
#Approval-list{padding-left: 0px; }
.approvalDetails {
    font-size: 12px;
    color: gray;
    font-weight: 100;
    margin: 3px 3px;
}
/*****************login***************/
img.image-resize {
max-width: 100%;
/* height: auto;
width: auto\9;
min-height: 150px; */
}
fieldset.loginfieldset >img {
width: 20px;
padding-top: 8px;
float: left;
}
fieldset.loginfieldset {
border-bottom: 1px solid lightgray;
}
fieldset.loginfieldset >.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
width: 87%;
float: right;
border:0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
fieldset.loginfieldset >div>div#select-project-button,fieldset.loginfieldset >div>div#select-clinic-button
{
border: 0px;
background: transparent;
box-shadow: none;
}
button#loginBtn,button#submitClinicBtn {
background: rgb(63, 60, 60);
color: white;
text-shadow: none;
border-bottom: 2px red solid;
max-width: 170px;
margin-left: auto;
margin-right: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	margin-top: 20px;
}
.custom-footer.ui-footer.ui-bar-inherit.ui-footer-fixed.slideup {
height: 20%;
background: rgb(197, 197, 197);
border: 0px;
box-shadow: none;
padding: 0px;
margin: 0px;
}
.sidebar-bottom-controls {
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-top: -6px;
}
.sidebar-bottom-controls a p {
     font-size: 10px;     
}
 .sidebar-bottom-controls a {
font-size: 10px;
text-align: center;
float: left;
width: 18%;
text-transform: uppercase;
color: #FFFFFF !important;
line-height: 10px;
border: 1px solid white;
display: block;
text-shadow: none;
text-decoration: none;
margin: 3%;
} 
.twitter-bottom {
    display: block;
    background-image: url(../img/loginScreen/twitter.png);
    background-repeat: no-repeat;
    background-position: center 33px;
background-size: 20px 20px;
height: 60px;
margin-top: -25px;
}

.facebook-bottom {
display: block;
background-image: url(../img/loginScreen/facebook.png);
background-repeat: no-repeat;
background-position: center 33px;
background-size: 20px 20px;
height: 60px;
margin-top: -25px;
}
.linkedIn-bottom {
    display: block;
    background-image: url(../img/loginScreen/linkedin.png);
    background-repeat: no-repeat;
    background-position: center 33px;
background-size: 20px 20px;
height: 60px;
margin-top: -25px;
}
.youtube-bottom {
    display: block;
    background-image: url(../img/loginScreen/youtube.png);
    background-repeat: no-repeat;
    background-position: center 33px;
background-size: 20px 20px;
height: 60px;
margin-top: -25px;
}

img.ReferalCheckImg {
width: 20px;
height: 20px;

}
/*****************login screen**********/
button#changeLangBtn {
background: none;
border: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow:none;
padding: 0px;
margin-bottom: 10px;
border-bottom: 1px solid red;
border-radius: 0px;
width: 100%;
height: 32px;
font-size: 18px;
}
/***********referral**************/
div#clinic-selectList-button,div#frequency-select-button,div#doctor-selectList-button{
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color: #ed1b2c;
background: white;
}
div#clinic-selectList-button.ui-icon-carat-d:after ,div#frequency-select-button.ui-icon-carat-d:after,div#doctor-selectList-button.ui-icon-carat-d:after{
background-image: url(../img/dropDownArrow.png);
background-size: 100% 100%;
width: 33px;
}
/**************blood bank******************/
div#bloodGroupSelect-button {
border-radius: 0px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-color:#ed1b2c;
background: white;
}
div#bloodGroupSelect-button.ui-btn-icon-left:after, div#bloodGroupSelect-button.ui-btn-icon-right:after, div#bloodGroupSelect.ui-btn-icon-top:after, div#bloodGroupSelect-button.ui-btn-icon-bottom:after, div#bloodGroupSelect-button.ui-btn-icon-notext:after{
/* background-color:transparent; */
width:40px;
height:35px;
top:32%;
}
div#bloodGroupSelect-button.ui-icon-carat-d:after{
background-image: url(../img/dropDownArrow.png);
background-size:100% 100%;
}