#progNotes{
 background: url(../img/addprogressnote/notepaper.png) repeat;
 width: 100%;
 height: 320px !important;
 font: normal 14px verdana;
 line-height: 20px;
 padding: 2px 10px;
 border-radius: 0px;
border: 0px;
background-size: 200px;
}

textarea#progNotes.ui-input-text, textarea#progNotes.ui-input-search {
border-width: 0px;
margin: 0;
border-style:none;
}

table#addnewprognote-table {
width: 100%;
background-color:#f2f2f0;
text-align: center;
}

tr.BottomRowBorder>th{
border-bottom:4px solid #ffaa9f;
}

table#addnewprognote-table tr>th:nth-child(1){
border-right:6px double #ffaa9f;
width: 15px;
}
table#addnewprognote-table tr>td:nth-child(1){
border-right:6px double #ffaa9f;
width: 15px;
background: url(../img/addprogressnote/notepaper.png) repeat;
background-size: 200px;
}