<!--************************** Blood Bank Screen *******************************--> 
<div data-role="page" id="bloodBank-page" data-title="Blood Bank" class="custom-content">
<div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="bloodBankHeader">
      <pyloc src="bloodBankPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="bloodBank-content" >
<select id="bloodGroupSelect" data-mini="true">
<option value="0" ><pyloc src="bloodBankPage.chooseType"></option>
<option value="A.+Ve">A+</option>
<option value="A.-Ve">A-</option>
<option value="B.+Ve">B+</option>
<option value="B.-Ve">B-</option>
<option value="O.+Ve">O+</option>
<option value="O.-Ve">O-</option>
 <option value="AB.+Ve">AB+</option>
 <option value="AB.-Ve">AB-</option>
</select>

<div id="bloodGroupDiv"></div>

</div>
</div><!-- Blood Bank page -->