<!-- JS -->
 	<script>
		var isMobile = {
		    Android : function() {
		        return navigator.userAgent.match(/Android/i);
		    },
		    BlackBerry : function() {
		        return navigator.userAgent.match(/BlackBerry/i);
		    },
		    BlackBerry10 : function() {
		        return navigator.userAgent.match(/BB10/i);
		    },
		    iOS : function() {
		        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
		    },
		    Opera : function() {
		        return navigator.userAgent.match(/Opera Mini/i);
		    },
		    Windows : function() {
		        return navigator.userAgent.match(/IEMobile/i);
		    },
		    any : function() {
		        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS()
		                || isMobile.Opera() || isMobile.Windows());
		    }
		};
		
	    var fileref=document.createElement('script');
	    fileref.setAttribute("type","text/javascript");
		
	    if (navigator.userAgent.toLowerCase().match('chrome'))
	    {
	        console.log("Browser", "chrome");
	        
	    }else{
	fileref.setAttribute("src", "cordova.js");
	        if(isMobile.Android())  
	    		fileref.setAttribute("src", "cordova.js");
	        else if(isMobile.iOS()) 
	        	fileref.setAttribute("src", "cordova.js");
	        else if(isMobile.Windows()) 
	        	fileref.setAttribute("src", "cordova.js");				
	        
	        document.getElementsByTagName("head")[0].appendChild(fileref);
	        console.log("Browser", navigator.userAgent.toLowerCase());
	    }
    </script>  
	<!-- <script type="text/javascript" src="cordova.js"></script> -->
	<script type="text/javascript" src="libs/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="libs/jquery.json-2.3.js"></script>
	<script type="text/javascript" src="libs/jstorage/jstorage.js"></script>
	<script type="text/javascript" src="libs/jquery.ui.datepicker.js"></script>
	<script type="text/javascript"  src="libs/date/date.format.js"></script>
	<script type="text/javascript"  src="libs/date/date.js"></script>
	<script type="text/javascript" src="libs/fastclick.min.js"></script>
<script type="text/javascript" src="libs/responsiveGrid/js/modernizr.custom.js"></script>
	<script type="text/javascript"  src="libs/jquery.growl.js"></script>
    <script type="text/javascript" src="js/Loc.js"></script>
	<script type="text/javascript" src="js/Request.js"></script>
	
       <!--  <script type="text/javascript" src="libs/jQueryMobile/jquery.mobile-1.3.2.min.js"></script> -->
<!-- 	<script type="text/javascript" src="lib/jqm/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="lib/jqm/jquery-ui.min.js"></script>	 
	<script type="text/javascript" src="lib/jqm/jquery.json-2.3.js"></script>
	<script type="text/javascript" src="lib/jstorage/jstorage.js"></script>

	<script type="text/javascript"  src="lib/date/date.format.js"></script>
	<script type="text/javascript"  src="lib/date/date.js"></script>

	<script type="text/javascript"  src="lib/plugins/LocalNotification.js"></script>
	<script type="text/javascript"  src="lib/plugins/PushNotification.js"></script>
	<script type="text/javascript"  src="lib/plugins/pushNotificationHandler.js"></script>
	<script type="text/javascript"  src="lib/plugins/DatePicker.js"></script>
    <script type="text/javascript"  src="lib/plugins/PhoneDialer.js"></script>
    <script type="text/javascript"  src="lib/plugins/SettingsPlugin.js"></script>	
	<script type="text/javascript"  src="lib/plugins/GAPlugin.js"></script>	
	<script type="text/javascript"  src="lib/plugins/calendar.js"></script>	
	<script type="text/javascript"  src="lib/plugins/SocialSharing.js"></script>		
	
	<script type="text/javascript"  src="lib/jqm/iscroll.js"></script>
	<script type="text/javascript"  src="lib/jqm/stroll.min.js"></script> 
	<script type="text/javascript"  src="lib/jqm/FeedEk.js"></script> 	
	<script type="text/javascript"  src="lib/jqm/jquery.growl.js"></script>
  	<script type="text/javascript"  src="lib/jqm/pace.min.js"></script>
  	<script type="text/javascript"  src="lib/jqm/jquery.raty.js"></script>
	<script type="text/javascript"  src="lib/jqm/dtlib/picker.js"></script>
 	<script type="text/javascript"  src="lib/jqm/dtlib/picker.date.js"></script> 
 	<script type="text/javascript"  src="lib/jqm/dtlib/legacy.js"></script> 
 	<script type="text/javascript"  src="lib/jqm/jQuery.fastClick.js"></script> 
 	<script type="text/javascript"  src="lib/jqm/jquery.alphanumeric.min.js"></script> 	
 	<script type="text/javascript"  src="lib/jqm/categorizr.min.js"></script> 
 	<script type="text/javascript"  src="lib/jqm/idangerous.swiper-2.1.min.js"></script> 		
	
	<script type="text/javascript" src="js/Loc.js"></script>
	<script type="text/javascript" src="js/Request.js"></script>
	<script type="text/javascript" src="js/demo.js"></script>
	<script type="text/javascript" src="js/RegController.js"></script>
	<script type="text/javascript" src="js/AppoController.js"></script>
	<script type="text/javascript" src="js/LabResultsController.js"></script>
	<script type="text/javascript" src="js/StaffController.js"></script>
	<script type="text/javascript" src="js/mController.js"></script>
	<script type="text/javascript" src="js/SettingsController.js"></script>
	<script type="text/javascript" src="js/ValidationController.js"></script>
	<script type="text/javascript" src="js/CareerController.js"></script>
	<script type="text/javascript" src="js/FeedbackPageController.js"></script>
	<script type="text/javascript" src="js/IntroPageController.js"></script>
	<script type="text/javascript" src="js/HelpPageController.js"></script>
	<script type="text/javascript" src="js/NewsCastController.js"></script>
   	<script type="text/javascript" src="js/HealthNewsCastController.js"></script>
	<script type="text/javascript" src="js/HomeController.js"></script>
	<script type="text/javascript" src="js/ApprovalController.js"></script>
	<script type="text/javascript" src="js/AskYourDocController.js"></script>	
	<script type="text/javascript" src="js/userProfileController.js"></script>
	<script type="text/javascript" src="js/AskYourDocController.js"></script>
	<script type="text/javascript" src="js/CustomLoginController.js"></script>
	<script type="text/javascript" src="js/HealthCalPageController.js"></script>
	<script type="text/javascript" src="js/VaccinationScheduleController.js"></script>
	<script type="text/javascript" src="js/RadiologyController.js"></script>
	<script type="text/javascript" src="js/App.js"></script> -->
<!--   <script type="text/javascript"  src="plugins/com.plugins.SettingsPlugin/SettingsPlugin.js"></script>
    <script type="text/javascript"  src="plugins/org.apache.cordova.device/www/device.js"></script> -->
  <script type="text/javascript" src="js/SettingsController.js"></script>  
  <script type="text/javascript" src="js/HomeController.js"></script>   
  <script type="text/javascript" src="js/MyPatientsController.js"></script> 
  <script type="text/javascript" src="js/PatientProfileController.js"></script> 
 <script type="text/javascript" src="js/ProgressNotesController.js"></script> 
  <script type="text/javascript" src="js/VitalSignsController.js"></script> 
  <script type="text/javascript" src="js/PrescriptionController.js"></script>
  <script type="text/javascript" src="js/DoctorInfoController.js"></script>
  <script type="text/javascript" src="js/LabResultsController.js"></script>
  <script type="text/javascript" src="js/SearchMedicineController.js"></script>
  <script type="text/javascript" src="js/ValidationController.js"></script>
  <script type="text/javascript" src="js/MapController.js"></script>
  <script type="text/javascript" src="js/LoginController.js"></script>
  <script type="text/javascript" src="js/RadiologyController.js"></script>
  <script type="text/javascript" src="js/DrProfileController.js"></script>
  <script type="text/javascript" src="js/DoctorReplyController.js"></script>
  <script type="text/javascript" src="js/ApprovalController.js"></script>
      <script type="text/javascript" src="js/ReferralController.js"></script>
	        <script type="text/javascript" src="js/BloodBankController.js"></script>
  <script type="text/javascript" src="js/App.js"></script>

        <script type="text/javascript">
            //App.initialize();
        </script>
		