<!--************************** login Screen *******************************--> 
<div data-role="page" id="login-page">
  <!-- <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>
      <pyloc src="loginPage.header">
    </h1>
  </div> -->
  <div data-role="content" id="login-content" >
   <div style="text-align:center"><img src="img/leftPanelIcons/hmgLogo.png" class="image-resize" alt="img"></div>
  
<fieldset class="loginfieldset"><img src="img/loginScreen/username.png" alt="img"><input id="doctorMemberID" class="maditoryField" placeholder='<pyloc src="loginPage.id">' type="tel" pattern="[0-9]*" /></fieldset>
<fieldset class="loginfieldset"><img src="img/loginScreen/password.png" alt="img"><input id="doctorPassword" type="password" class="maditoryField" placeholder='<pyloc src="loginPage.password">'  /></fieldset>
  <fieldset class="loginfieldset"><img src="img/loginScreen/project.png" alt="img"><select name="select-project" id="select-project" data-mini="true" data-icon="arrowDown">
</select> </fieldset>
<div id="loginProjectDiv">
<!--  <button id="loginBtn" data-theme="search-btn" ><pyloc src="loginPage.header"></button>	   -->     
</div>
  <div id="loginClinicDiv" style="display:none">
   <fieldset class="loginfieldset"><img src="img/loginScreen/clinic.png" alt="img"><select name="select-clinic" id="select-clinic" data-mini="true" data-icon="arrowDown">
</select> </fieldset>
 <button id="submitClinicBtn" data-theme="search-btn" ><pyloc src="loginPage.header"></button>	  
  </div>
</div>
  <div class="custom-footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
   <div><button id="changeLangBtn" data-theme="" onClick="LoginController.chnageLanguage();" ><pyloc src="loginPage.lang"></button></div>
	<div class="sidebar-bottom-controls">
      <a href="" onClick="LoginController.openLink('https://twitter.com/HMG');"><em class="twitter-bottom"></em></a>
	  <a href="" onClick="LoginController.openLink('https://www.facebook.com/DrSulaimanAlHabib?ref=tn_tnmn');"><em class="facebook-bottom"></em></a>
	  <a href="" onClick="LoginController.openLink('http://www.linkedin.com/company/dr.-sulaiman-al-habib-medical-group');"><em class="linkedIn-bottom"></em></a>
     <a href=""  onClick="LoginController.openLink('http://www.youtube.com/DrSulaimanAlhabib');" ><em class="youtube-bottom"></em></a>
    </div>
  </div>
</div><!-- login-page -->
<!--************************** Validation Screen *******************************--> 
<div data-role="page" id="validation-page">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1>
      <pyloc src="validatePage.header">
    </h1>
  </div>
  <div data-role="content" id="validation-content" >
      <div class="validationHint" id="hint"></div>
      <div style="position: relative;" >
          <div class="RecField"> <input id="validationCodeInput" class="validate-input maditoryField"   type="tel" pattern="[0-9]*"  value="" dir="ltr" /> </div>
      </div>
      <div class="validationHint">
        <pyloc src="validatePage.msg1">
      </div>
      <div id="countdown" class="counter" style="direction:ltr;padding-bottom:70px;">03 : 00</div>
        <input data-theme="custom-button-1" id="validateBtn" type="button" data-mini="true" onclick='ValidationController.validate();'  value="<pyloc src="validatePage.validatebtn">" ></input>
  </div><!-- content -->
</div><!-- validation-page -->