<!--************************** map Page Screen *******************************-->
<div data-role="page" id="map-page" data-title="Pharmacies Map Page" class="custom-content">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="medicineLocationHeader">
      <pyloc src="mapPage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="map-content">
   <div class="landing-navigation-wrapper" >
      <div id="selectedMarkerName" style="mapTitle"> <pyloc src="mapPage.header"></div>
	  <div id="dirDetails">
	   </div>
      <div id="mapCanvas" style="margin-bottom: 10px;"></div>
	        <div class="bottom">
        <table width="100%" >
          <tbody>
            <tr>
              <td width="50%" align="center" style="margin:10px;"><input data-theme="custom-button-1" data-icon="call" id="" type="button" data-mini="true" onclick='MapController.dialBrancheNumber();'  value="<pyloc src="mapPage.call">" ></input></td>
              <td  id="createRouteBtn" width="50%" align="center" style="margin:10px;">
                <input data-icon="directions" data-theme="custom-button-1"  type="button" data-mini="true" onclick='MapController.routeToSelectedMarker();'  value="<pyloc src="mapPage.directions">" ></input>
              </td>
              <td id="clearRouteBtn" width="50%" align="center" style="margin:10px;">
                <input data-icon="release" data-theme="custom-button-1"  type="button" data-mini="true" onclick='MapController.clearRouts();'  value="<pyloc src="mapPage.directionsClear">" ></input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 
</div><!-- map page  -->