<!--************************** No Connection Page Screen *******************************--> 
<div data-role="page" id="no-Connection-page" data-title="Connection Not Available" class="">
   <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#" data-rel="back"  data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="">
      <pyloc src="noNetpage.header">
    </h1>
  </div>
  <div data-role="content" >
    <div class="landing-navigation-wrapper" >
      <table align="center" >
        <tr>
          <td style="height: 202px; text-align: center">
            <img src="img/wifi.na.png"   border=0 />
          </td>
        </tr>
        <tr>
          <td class="appoTitle" style="text-align: center; ">
            <pyloc src="noNetpage.noInternet">
          </td>
        </tr>
        <tr>
          <td class="appoDetails" style="text-align: center">
            <pyloc src="noNetpage.noInternetDetails">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div><!-- no network -->