<!--************************** Patient Profile Screen *******************************-->
<div data-role="page" id="patientProfile-page" data-title="Patient Profile" class="">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#my-patients-page" id="profileBackKey" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="">
      <pyloc src="patientProfile.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="patientProfile-content">
 <div id="patientInfo"> 
 </div> 
 </br>

<table id="iconegGroup1" class="profileIconegGroup"> 
  <tr>
  <td><input id="getVitalSigns" type="image" src="img/patientprofile/vitalSign.png" data-inline="true" onclick=""></td>
  <td><input id="getLabResult" type="image" src="img/patientprofile/labResult.png" data-inline="true" onclick=""></td>	
  <td><input id="getPrescriptions" type="image" src="img/patientprofile/prescription.png" data-inline="true" onclick=""></td>	  
  <td><input id="getRadiology" type="image" src="img/patientprofile/radiology.png" data-inline="true" onclick=""></td>
  </tr>
</table></br>
  
 <table id="iconegGroup2" class="profileIconegGroup"> 
  <!--<tr>
   <td><input id="getProgressNotes" type="image"  src="img/patientprofile/progressNote.png" data-inline="true" onclick=""></td>
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>	 
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>	
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>	
  </tr> -->
</table></br>

<!--  <table id="iconegGroup3" class="profileIconegGroup"> 
  <tr>
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>	
  <td><input id="" type="image" src="img/cancel_red.png" data-inline="true" onclick=""></td>	  
  </tr>
</table></br> -->

</div>
</div><!-- Patient Profile -->
