<!--************************** Search Medicine Page *******************************--> 
<div data-role="page" id="searchMedicine-page" data-title="Search Medicine" class="custom-content">
<div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="srchMedicineHeader">
      <pyloc src="searchMedicinePage.header">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="srchMedicine-content" >
     <div id="searchBtnDiv" class="searchInput"><input type="text" name="searchMedicineInput" id="searchMedicineInput" value="" placeholder="xxx....."></div>
	 <button id="searchMedicine" data-theme="search-btn" class=" ui-state-disabled ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search"><pyloc src="searchPatientPage.search"></button>
	 <div id="MedicinesListDiv">
	<ul data-role="listview" data-inset="true"  id="medicinesList">
	</ul>
	</div>
    </div>
</div><!-- Search Medicine Page  -->
<!--************************** medicine location Page Screen *******************************-->
<div data-role="page" id="medicineLocation-page" data-title="Medicine Locations" class="custom-content">
  <div class="custom-navbar" data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#"  data-rel="back" data-icon="back" data-iconpos="left" class="customBackBtn" ></a>
    <h1 id="medicineLocationHeader">
      <pyloc src="searchMedicinePage.header2">
    </h1>
	<a href="#home-page" class="customHomeBtn ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-home"></a>
  </div>
  <div data-role="content" id="medicineLocation-content">
  <div id="medicineDetailesPrice"></div>
  <ul data-role="listview" data-inset="true" id="medicineLocationList">
</ul>
  </div>
 
</div><!-- medicine location  -->