table#addnewprognote-table tr>td:nth-child(1){
border-left: 6px double #ffaa9f;
border-right: 0px;
}
table#addnewprognote-table tr>th:nth-child(1) {
border-left: 6px double #ffaa9f;
border-right: 0px;
}