ul#left-panel-list >.ui-li-has-thumb>.ui-btn{
padding-right: 40px;
padding-left: 0px;
}
img#DoctorNameArrow {
left: 4px;
right: auto;
}
a.doctorNameSidePanel.ui-link{
margin-right:20px;
margin-left:0px;
}
/*****patient profile****/
.patientInfoCell{
text-align: right;
}
.PersonalInfoIcon{
text-align: left;
}
.personalInfoTableCell{
border-left:1px solid rgb(213, 213, 213); 
border-right:0px;
}
.profileIconegGroup > tbody > tr > td{
border-left: 1px solid rgb(213, 213, 213);
border-right: 0px;
}
.profileIconegGroup > tbody > tr > td:nth-child(4){
border-left: 0px;
border-right: 0px;
}

/********vital signs******************************/
img.vtCustHeaderIcon {
padding-left: 4px;
}
.vtCustomHeader> a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-arrowUp{
border-right: 4px solid #ed1b2c;
border-left: 0px;
}
.vtCustomHeader> a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-right.ui-btn-inherit.ui-icon-arrowDown {
/* border-right: 4px solid gray; */
/* border-left: 0px; */
}
ul.vitalSignDetailsList >li.ui-li-static.ui-body-inherit {
border-right: 3px solid #ed1b2c;
border-left: 0px;
}
/******************dr profile*******/
.nat-name {
float: right;
padding-right: 2px;
padding-left: 0px;
}
.nat-flag {
float: right;
}
.doctorProfileIcons{
 float:right;
  padding-left: 10px;
  padding-right:auto;
 }
/************doctor reply************/
.question-list {
padding-left: 2px;
padding-right: 10px;
}
/*****************approval*******************************/
#Approval-list{ direction: rtl;padding-right: 0px; }
table.approvalTable tr:first-child th:first-child{text-align:center;}
/**************login screen*******/
fieldset.loginfieldset >img {
float: right;
}
/*************progress note**********/
.customListNote {
margin-right: -30px;
margin-left: 10px;
padding-right: 5px;
padding-left: 0px;
}
.customListNoteDiv{
border-right: 4px double #EE3531;
border-left: 0px;
 padding-right: 5px;
padding-left: 0px;
}