
/* custom styles for tablet devices- home page */
 
 
div.custom-navbar.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
 
 height: 64px !important;

}
 
#dashboard-list {
  margin-top: 25px;  
}

.ui-header .ui-title, .ui-footer .ui-title {

 margin: 12px 0;

}

a#homeMenuBtn {
	margin-top: 12px;
}


a.customHomeBtn.ui-btn-right.ui-btn.ui-icon-home.ui-btn-icon-right.ui-btn-inline.ui-corner-all.ui-mini {
	margin-top: 12px;
}

a.customBackBtn.ui-link.ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all, a.customBackBtn.ui-link.ui-btn-right.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all, a.customBackBtn.ui-link.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all, a.customBackBtn.ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-left.ui-btn-inline.ui-corner-all.ui-mini {
	margin-top: 12px;
}